.course-list {
  margin-bottom: 2rem;
  list-style-type: none;
  padding-left: 0;

  &__controls {
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.course-list__item {
  &:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}

