:root {
  --border-color: #dbdbdb;
  --color-gray-1: #ccc;
  --vk-brown-1: #6b594d;
  --vk-brown-2: #a89487;
  --vk-white: #fff;
  --title-font-family: 'Alegreya SC', serif;
  --cormorant-font-family: 'Cormorant SC', serif;
  --handwrite-font-family: 'Haigrast', serif;
}
